#board {
  margin-top: 10px;
}
hr {
  border-color: yellow;
}
body {
  background-color: #EBC078;
  color: #FA5755;
}
#board {
  display: block;
  padding: 40px;
}
.box-one {
  border-right: 1px solid #F77902;
  border-bottom: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-two {
  border-right: 1px solid #F77902;
  border-bottom: 1px solid #F77902;
  border-left: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-three {
  border-left: 1px solid #F77902;
  border-bottom: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-four {
  border-top: 1px solid #F77902;
  border-right: 1px solid #F77902;
  border-bottom: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-five {
  border: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-six {
  border-top: 1px solid #F77902;
  border-left: 1px solid #F77902;
  border-bottom: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-seven {
  border-top: 1px solid #F77902;
  border-right: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-eight {
  border-left: 1px solid #F77902;
  border-top: 1px solid #F77902;
  border-right: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
.box-nine {
  border-left: 1px solid #F77902;
  border-top: 1px solid #F77902;
  height: 150px;
  text-align: center;
  font-size: 7em;
}
button {
  display: block;
  background-color: rgb(100,250,250);
  border: 1px solid rgb(100,210,210);
  border-radius: 5px;
  margin: 10px 48%;
}
